.card-img-top,
.card-img-overlay,
.hostel-card {
    transition: transform 0.5s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.card-img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.card-img-overlay:hover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top:hover+.card-img-overlay {
    display: block;
}

.avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 600;
    color: #444444;
    width: 3.5rem;
    height: 3.5rem;
}

.avatar-xl {
    font-size: 2.5rem;
    width: 6rem;
    height: 6rem;
}


.button-container {
    position: relative;
}

.sub-buttons {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.sub-buttons button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #333333;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.sub-buttons button:hover {
    background-color: #333333;
    color: #ffffff;
}
